body {
    background-color: antiquewhite;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 2100px;
    padding-left: 25px;
    padding-right: 25px;
}

.website_name {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 100px;
}

.article_name {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    position: relative;
    top: -50px;
    left: 0px;
}

.authors {
    margin-left: 800px;
    margin-right: auto;
    margin-top: -70px;
    text-align: center;
    position: relative;
}

.article {
    font-size: 20px;
    position: relative;
    margin-top: 100px;
    text-align: center;
}

.article_img {
    width: 1200px;
}

mark {
    background-color: aquamarine;
    border-radius: 10px;
}

.video {
    position: relative;
    margin-top: -50px;
    margin-left: 300px;
}

blockquote::before {
    content: url("img/quote.png");
}

blockquote {
    background-color: #dcdde1;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    transition: transform 0.2s cubic-bezier(0.37, 0, 0.63, 1);
}

blockquote:hover {
    transform: scale(1.15);
}
