@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.furry1 {
	position: absolute;
	left: 250px;
	top: 100px;
}

.furry2 {
	position: absolute;
	right: 250px;
	bottom: 100px;
}

h1 {
	font-family: 'Roboto', sans-serif;
}

.title {
	font-size: 50px;
	position: absolute;
	/*Center */
	left: 29%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: rainbow 4s linear infinite;
}

body {
	background-image: url('./img/Yas_Colin_.png');
	/* On image only and stretch it */
	background-size: cover;
}

/* Rainbow keyframes */
@keyframes rainbow {
	0% {
		color: #ff0000;
	}

	10% {
		color: #ff7f00;
	}

	20% {
		color: #ffff00;
	}

	30% {
		color: #00ff00;
	}

	40% {
		color: #0000ff;
	}

	50% {
		color: #4b0082;
	}

	/* Reverse */
	60% {
		color: #0000ff;
	}

	70% {
		color: #00ff00;
	}

	80% {
		color: #ffff00;
	}

	90% {
		color: #ff7f00;
	}

	100% {
		color: #ff0000;
	}
}

.music {
	/* HIDE MUSIC PLAYER */
	display: none;
}